<h1>Hello, {{ current_user.username }}!</h1>
<table border="1">
    <tr>
        <td>
            today
        </td>
    </tr>
    {% for i in range(7) %}
        <tr>
            <form method="post" name="name{{i}}" action="/update{{i}}">
                <td>
                    {{ tasks[i][1] }}
                </td>
                <td>
                    {{ views_result[i] }}
                </td>
                <td>
                    <input type="submit" value="入力">
                </td>
                </form>
        </tr>
    {% endfor %}
</table>
<a href="{{ url_for('add_task') }}">addtask</a>
<br>
<a href="{{ url_for('logout') }}">Logout</a>
<br>
<a href="{{url_for('result_test')}}">checkResult</a>